# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"
REDIS_URL="redis://localhost:6379"
NODE_ENV="development"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ypur_secret"


# Google Sign Ups
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""


DOC_GPT_SECRET="test_key"
DOC_GPT_SERVICE_URL="http://localhost:3001"


# Slack Integrations

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGINING_SECRET=

OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=
PINECONE_INDEX=

STRIPE_API_KEY=
STRIPE_SECRET=

SENDGRID_API_KEY=


R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_DOCS_BUCKET=

# Notion envs
NOTION_CLIENT_SECRET=
NEXT_PUBLIC_NOTION_CLIENT_ID=
NEXT_PUBLIC_NOTION_AUTHORIZATION_URL=
NOTION_REDIRECT_URL=http://localhost:3000/notion_callback

# Confluence Envs
NEXT_PUBLIC_CONFLUENCE_CLIENT_ID=
NEXT_PUBLIC_CONFLUENCE_AUTHORIZATION_URL=
CONFLUENCE_SECRET=
CONFLUENCE_REDIRECT_URL=http://localhost:3000/confluence_callback

NEXT_PUBLIC_DOMAIN="http://localhost:3000"
