@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white h-full text-zinc-800;
}

#__next {
  @apply h-full;
}

.markdown {
  @apply leading-7;
}

.markdown a {
  @apply text-blue-600 font-semibold;
}

.markdown pre {
  @apply rounded bg-orange-100 p-1 px-5
}

.markdown code {
  @apply font-mono text-orange-700 bg-orange-100 rounded p-0.5
}

.markdown ul {
  @apply list-disc list-outside m-1 ml-5;
}

.markdown ol {
  @apply list-decimal list-outside m-1 ml-5;
}

.markdown img {
  @apply rounded-lg border border-gray-300 m-2
}

.markdown th,
td {
  @apply text-left px-4;
}

.markdown tr {
  @apply even:bg-zinc-200;
}

.markdown thead {
  @apply bg-zinc-200 rounded-md;
}

.markdown table {
  @apply m-2 my-4 rounded-md border border-zinc-300;
}

.markdown thead tr:first-child td:first-child {
  @apply rounded-t-md;
}

pre {
  white-space: pre-wrap;
}

.bg-pattern {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent) 0 0;
  background-size: 40px 40px;
  background-color: #f0f0f0;
}

.heading-text {
  @apply bg-gradient-to-r from-sky-500 to-indigo-500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-zinc-300
}
.simple-card {
  @apply bg-slate-50;
  @apply p-3;
  @apply rounded-md;
  @apply shadow-md;
}

.simple-card:hover {
  @apply scale-105;
  @apply transition-transform;
  @apply ease-in-out
}

.title-underline {
  @apply underline-offset-4;
  @apply underline;
  @apply decoration-black;
}

.pro-chip {
  @apply bg-gradient-to-r from-sky-500 to-indigo-500;
  @apply text-white p-0.5 px-1 rounded-md text-sm m-1;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}