@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  @apply bg-white h-full;
}

#__next {
  @apply h-full;
}

.markdown {
  @apply text-gray-900  leading-loose;
}

.markdown a{
  @apply text-blue-600 font-semibold;
}

.markdown code {
  @apply text-orange-700 font-mono p-0.5 rounded bg-orange-100
}

.markdown ul {
  @apply list-disc list-inside m-1;
}

.markdown ol {
  @apply list-decimal list-inside m-1;
}

.bg-pattern {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent) 0 0;
  background-size: 40px 40px;
  background-color: #f0f0f0;
}

.heading-text {
  @apply bg-gradient-to-r from-sky-500 to-indigo-500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}